@import url(https://fonts.googleapis.com/css?family=Nunito&display=swap);

html {
    font-family: 'Nunito', sans-serif;
    background-color: brown;
    color: white;
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

input[type="text"] {
    width: 300px;
    color: #333;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    border: 3px solid #333;
    border-radius: 10px;
}

input[type="button"], input[type="submit"] {
    right: 10px;
    color: #333;
    background-color: #CCC;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    border: 3px solid #333;
    border-radius: 10px;
    margin: 10px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: orange;
}

h1 {
    font-size: 100px;
}

p {
    font-size: 20px;
}

#MainMenu {
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

#LobbyTitle {
    position: relative;
    font-size: 100px;
    box-shadow: 0px 3px 3px black;
}

#GlobalTime {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
}

#LobbyID {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
}

#SideBar {
    position: absolute;
    width: 300px;
    top: 140px;
    bottom: 0px;
    word-wrap: break-word;
    margin: 5px;
    border: 3px solid #333;
    border-radius: 10px;
    color: black;
    background-color: #CCC;
    font-weight: bolder;
}

#PairedTitle {
    background-color: #333;
    color: #CCC;
    padding-left: 20px;
    margin-bottom: 10px;
}

#UnpairedTitle {
    background-color: #333;
    color: #CCC;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#ChatWindow {
    position: absolute;
    top: 140px;
    left: 310px;
    right: 0px;
    bottom: 0px;
    margin: 5px;
    border: 3px solid #333;
    border-radius: 10px;
    color: black;
    background-color: #CCC;
    font-weight: bolder;
}

#MessageBox {
    position: absolute;
    top: 22px;
    bottom: 55px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

#MessageBoxTitle {
    background-color: #333;
    color: #CCC;
    padding-left: 20px;
    margin-bottom: 10px;
}

#Write {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 55px;
    box-shadow: 0px -10px 3px -1px #CCC;
    z-index: 10;
}

#WriteBox {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    width: calc(100% - 130px);
    color: #333;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    border: 3px solid #333;
    border-radius: 10px;
}

#WriteSend {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #CCC;
    background-color: #333;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    border: 3px solid #333;
    border-radius: 10px;
    margin: 0px;
}

#WriteSend:hover {
    color: #333;
    background-color: white;
    cursor: pointer;
}

#Mask {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    text-align: center;
}

#PairingDialog {
    position: relative;
    top: 45%;
}

#AllowTrios {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

#AllowTrios:hover {
    cursor: pointer;
}

#StartGame {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 50px;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px;
    background-color: blue;
}

#StartGame:hover {
    cursor: pointer;
    background-color: #007;
}

.Allow {
    background-color: green;
}

.Allow:hover {
    background-color: #030;
}

.Block {
    background-color: red;
}

.Block:hover {
    background-color: #700;
}

.PairTitle {
    padding-left: 20px;
}

.PairScore {
    float: right;
    padding-right: 20px;
}

.PairTime {
    float: right;
    padding-right: 20px;
}

.PairTitle:hover {
    color: #CCC;
    background-color: #333;
    cursor: pointer;
}

.PairItem {
    padding-left: 40px;
}

.User {
    padding-left: 20px;
}

.User:hover {
    color: #CCC;
    background-color: #333;
    cursor: pointer;
}

.Me {
    background-color: yellow;
}

.Me:hover {
    background-color: yellow;
    color: #333;
    cursor: default;
}

.Status {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-right: 10px;
}

.StatusPlaying {
    background-color: green;
}

.StatusAsking {
    background-color: green;
}

.StatusGuessing {
    background-color: green;
}

.StatusWaiting {
    background-color: orange;
}

.StatusTrying {
    background-color: magenta;
}

.StatusUnknown {
    background-color: #333;
}

.StatusWriting {
    background-color: #07F;
}

.StatusUnpaired {
    background-color: red;
}

.StatusDone {
    background-color: blue;
}

.Message {
    width: 80%;
    float: right;
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #444;
    color: white;
}

.Mine {
    float: left;
    border: 3px solid #333;
    background-color: #CCC;
    color: black;
}

.MessageTitle {
    color: #CCC;
}

.Mine .MessageTitle {
    color: #444;
}

.MessageTime {
    color: #CCC;
    float: right;
    margin-top: -25px;
}

.Mine .MessageTime {
    color: #444;
}