@import url(https://fonts.googleapis.com/css?family=Alata&display=swap);

html {
    height: 100%;
    margin: 0px;
    font-family: 'Alata', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    margin: 0px;
    background-color: black;
    color: orange;
    overflow: hidden;
}

h1 {
    margin-top: -5rem;
}

[hidden] {
    display: none !important;
}

input[type="button"], input[type="submit"], input[type="text"] {
    border: 0.2em solid orange;
    border-radius: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    font-family: 'Alata', sans-serif;
    color: orange;
    background-color: black;
}

input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer;
    color: black;
    background-color: orange;
}

#MainMenuContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: center;
    background-color: #333;
}

#MainMenu {
    font-size: 3rem;
    text-align: center;
}

#Help {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    border: 0.2rem solid orange;
    border-radius: 1.5rem;
    text-align: center;
}

#Help:hover{
    cursor: pointer;
    color: black;
    background-color: orange;
}

#Back {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 2.5rem;
    bottom: 0.5rem;
    border: 0.2rem solid orange;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 1.1rem;
}

#Back:hover{
    cursor: pointer;
    color: black;
    background-color: orange;
}

#Lang {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 4.5rem;
    bottom: 0.5rem;
    border: 0.2rem solid orange;
    border-radius: 1.5rem;
    text-align: center;
}

#Lang:hover{
    cursor: pointer;
    color: black;
    background-color: orange;
}

#Container {
    bottom: 0px;
    flex-grow: 1;
    overflow: auto;
}

#TitleBar {
    position: relative;
    flex-grow: 0;
    width: 100%;
    background-color: #333;
}

#Title {
    font-size: 500%;
}

#Timer {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 175%;
}

#Game {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 175%;
}

#Container {
    max-width: 60rem;
    width: 100%;
    margin: auto;
}

#TeamList {
    display: flex;
    flex-direction: row;
}

#TeamRedTitle {
    color: brown;
}

#TeamBlueTitle {
    color: royalblue;
}

#TeamYellowTitle {
    color: gold;
}

#GameBoard {
    display: flex;
    flex-direction: column;
    height: 30rem;
    padding: 0.5rem;
}

#StatusBar {
    flex-grow: 0;
    background-color: #333;
}

#MessageButton {
    float: left;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

#MessageButton:hover {
    cursor: pointer;
    background-color: #777;
}

#MessageButtonText {
    display: inline-block;
    margin: 0.1rem;
    color: #EEE;
}

#MessageNotification {
    display: inline-block;
    height: 1.1rem;
    min-width: 1.1rem;
    font-size: 0.8rem;
    border-radius: 1.1rem;
    color: white;
    background-color: red;
    text-align: center;
    line-height: 1.2;
}

#StartButton {
    background-color: mediumseagreen;
}

#StartButton:hover {
    background-color: green;
}

#ThreeButton {
    background-color: goldenrod;
}

#ThreeButton:hover {
    background-color: peru;
}

#QuitButton {
    background-color: crimson;
}

#QuitButton:hover {
    background-color: darkred;
}

#Chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0rem;
    bottom: 2rem;
    width: 30rem;
    height: 70%;
    border: 0.1rem solid #777;
    color: #EEE;
    background-color: #333;
}

#MessageTitle {
    flex-grow: 0;
    padding: 0.5rem;
    border-bottom: 0.1rem solid #777;
    font-size: 1.5rem;
}

#Messages{
    flex-grow: 1;
    overflow: auto;
    background-color: black;
}

#ChatBar {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    border-top: 0.1rem solid #777;
}

#ChatInput {
    flex-grow: 1;
    height: 1.5rem;
    margin: 0.5rem;
    border: none;
    font-family: 'Alata', sans-serif;
    color: #EEE;
    background-color: #333;
}

#ChatSend {
    flex-grow: 0;
    padding: 0.5rem;
    padding-top: 0.2rem;
    border: none;
    border-radius: 0rem;
    color: #EEE;
    background-color: #777;
}

#ChatSend:hover {
    cursor: pointer;
    color: black;
    background-color: orange;
}

.Message {
    float: left;
    clear: both;
    margin: 0.5rem;
    padding: 0.5rem;
    max-width: 80%;
    min-width: 20%;
    background-color: #333;
    word-wrap: break-word;
    font-weight: 100;
}

.MessageUser {
    float: left;
    font-weight: 400;
    color: orange;
}

.MessageTime {
    float: right;
    color: orange
}

.Mine {
    float: right;
    background-color: #777;
}

.Mine .MessageUser {
    color: #333;
}

.Mine .MessageTime {
    color: #333;
}

.MessageContent {
    margin-top: 1.5rem;
}

.BarButton {
    float: right;
    margin: 0.2rem;
    margin-right: 0.4rem;
    padding: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.5rem;
    color: #EEE;
}

.BarButton:hover {
    cursor: pointer;
}

.Bar {
    margin: 10px;
    border: 0.2rem solid #333;
    border-radius: 0.8rem;
    text-align: center;
    font-size: 100%;
    overflow: hidden;
}

.TitleBar {
    background-color: #333;
    text-align: left;
    font-size: 100%;
}

.ExpMin {
    display: inline-flex;
    position: relative;
    height: 1.2rem;
    width: 1.2rem;
    border: 0.1rem solid orange;
    border-radius: 1.2rem;
    bottom: 0.18rem;
    left: 0.12rem;
    line-height: 0.85rem;
    text-align: center;
    justify-content: center;
}

.ExpMin:hover {
    cursor: pointer;
    color: black;
    background-color: orange;
}

.Title {
    display: inline-block;
    position: relative;
    bottom: 1px;
    left: 10px
}

.User {
    width: 100%;
    color: #CCC;
}

.User:hover {
    cursor: pointer;
    background-color: #CCC;
    color: black;
}

.Status {
    display: inline-block;
    position: relative;
    height: 0.4rem;
    width: 0.4rem;
    right: 0.5rem;
    bottom: 0.2rem;
    border-radius: 0.4rem;
    background-color: #777;
}

.UserName {
    display: inline-block;
}

.Me {
    color: yellow;
}

.Team {
    flex-grow: 1;
}

.TeamTitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.StatusOffline {
    background-color: #777;
}

.StatusOnline {
    background-color: green;
}

.StatusWriting {
    background-color: dodgerblue;
}

.Row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.Cell {
    flex-grow: 1;
    margin: 0.1rem;
    border: 0.2rem solid rgb(56, 28, 0);
    border-radius: 1rem;
    background-color: rgb(199, 189, 134);
    color: black;
}

.Cell:hover {
    cursor: pointer;
    background-color: rgb(158, 150, 106);
}

.Name {
    margin-top: 18%;
    text-align: center;
    background-color: #CCC;
}
