@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

html {
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    margin: 0px;
    background-color: blue;
    color: white;
    overflow: hidden;
}

h1 {
    margin-top: -5rem;
}

form {
  text-align: center;
}

[hidden] {
    display: none !important;
}

input[type="button"], input[type="submit"], input[type="text"] {
    border: 0.2em solid white;
    border-radius: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #007;
    margin: 1rem;
}

input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer;
    color: blue;
    background-color: #0F7;
}

#MainMenuContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: center;
    background-color: blue;
}

#MainMenu {
    font-size: 3rem;
    text-align: center;
}

#Help {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    border: 0.2rem solid white;
    border-radius: 1.5rem;
    text-align: center;
    background-color: #007;
}

#Help:hover{
    cursor: pointer;
    color: blue;
    background-color: #0F7;
}

#Back {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 2.5rem;
    bottom: 0.5rem;
    border: 0.2rem solid white;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 1.35rem;
    background-color: #007;
}

#Back:hover{
    cursor: pointer;
    color: blue;
    background-color: #0F7;
}

#Lang {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 4.5rem;
    bottom: 0.5rem;
    border: 0.2rem solid white;
    border-radius: 1.5rem;
    text-align: center;
    background-color: #007;
}

#Lang:hover{
    cursor: pointer;
    color: blue;
    background-color: #0F7;
}

#NewGame {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-content: center;
  background-color: blue;
}

#NewGame h1 {
  margin-left: auto;
  margin-right: auto;
}

.info {
  font-size: 1.2rem;
}

.error {
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
  color: red;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

#Presentations {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10rem;
}

#PresTableContainer {
  max-height: 100%;
  overflow: auto;
  margin-bottom: 2rem;
}

#PresTable {
  border: 0.2rem solid white;
  border-radius: 0.5rem;
  background-color: #007;
  width: 100%;
}

#PresHeader {
  color: #007;
  background-color: white;
}

#PresTable td {
  text-align: center;
  width: 33%;
}

#PresTable tr:hover:not(#PresHeader) {
  color: #007;
  background-color: #0F7;
  cursor: pointer;
}

#PresTable tr[selected="1"] {
  color: #0F7;
  font-weight: bold;
}

#Join {
  background-color: #070;
}

#Join:hover {
  background-color: #0F0;
}

#Present {
  background-color: #770;
}

#Present:hover {
  background-color: #FF0;
}

#Edit {
  background-color: #700;
}

#Edit:hover {
  background-color: #F00;
  color: white;
}

#Editor {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#Slides {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 10rem;
  background-color: #007;
}

#SlidesContainer {
  overflow: auto;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#SlidesContainer::-webkit-scrollbar {
  display: none;
}

.title {
  width: 100%;
  background-color: white;
  color: #007;
  font-weight: bold;
  text-align: center;
}

#Tools {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  width: 10rem;
  background-color: #007;
}

.newbutton {
  margin: 0.5rem;
  text-align: center;
  border: 1px solid white;
}

.newbutton:hover {
  color: #007;
  background-color: #0F7;
  cursor: pointer;
}

.delbutton {
  margin: 0.5rem;
  text-align: center;
  border: 1px solid white;
  background-color: red;
}

.delbutton:hover {
  color: white;
  background-color: #700;
  cursor: pointer;
}

.newbutton div {
  display: inline-block;
}

.delbutton div {
  display: inline-block;
}

.separator {
  width: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #0F7;
}

.separator[expanded="1"] {
  height: 1rem;
}

.slide {
  width: 7rem;
  height: 5rem;
  background-color: white;
  color: black;
  margin: 1rem;
  padding: 0.5rem;
}

.slide:hover {
  border: 0.5rem solid yellow;
  margin: 0.5rem;
  cursor: pointer;
}

.slide[selected="1"] {
  border: 0.5rem solid #0F7;
  margin: 0.5rem;
}

#SlideComments {
  position: absolute;
  height: 10rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  padding: 1rem;
  background-color: #333;
}

#SlideCommentText {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  min-width: calc(100% - 2.25rem);
  max-width: calc(100% - 2.25rem);
  min-height: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
  resize: none;
}

#SlideViewer {
  position: absolute;
  left: 10rem;
  right: 10rem;
  top: 0rem;
  bottom: 0rem;
}

#SlideContainer {
  position: absolute;
  top: 0rem;
  bottom: 12rem;
  left: 0rem;
  right: 0rem;
  padding: 1rem;
}

#Slide {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  margin: auto;
  background-color: white;
  overflow: hidden;
}

#DelButton {
  background-color: #F00;
}

#DelButton:hover {
  background-color: #700;
  color: white;
}

.disabled {
  pointer-events: none;
}

.label {
  min-width: 5px;
  z-index: 3;
}

.label:hover {
  cursor: text;
}

.labelContainer {
  position: absolute;
  display: inline-block;
  padding: 1px;
  z-index: 3;
}

.labelContainer:hover {
  cursor: move;
  border: 1px dashed black;
}

#ColorPalette {
  margin: 0.5rem;
  border: 1px solid white;
}

#ColorTitle {
  background-color: white;
  color: #007;
  font-weight: bold;
  padding-left: 0.2rem;
}

#ColorContainer {
  padding: 0.2rem;
  padding-bottom: 0px;
}

.color {
  display: inline-block;
  height: 1.14rem;
  width: 1.14rem;
  margin: 0.1rem;
  border: 1px solid white;
}

.color:hover {
  border: 1px solid yellow;
  cursor: pointer;
}

.numericInput {
  margin: 0.5rem;
  display: table;
}

.numericInput div, input {
  display: table-cell;
  color: #007;
  background-color: white;
  font-weight: bold;
}

.numericInput div {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.numericInput input {
  border: 1px solid white;
  overflow: hidden;
  width: calc(100% - 0.28rem);
}

#ImagePrompt {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

#ImagePrompt iframe {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#ImageUpload {
  padding-top: 5%;
}

#ImageUpload h1 {
  margin: auto;
  text-align: center;
}

#ImageButtons {
  margin: auto;
  text-align: center;
}

#ImageButtons input {
  margin: 1rem;
}

.imageContainer {
  position: absolute;
  display: inline-block;
  z-index: 2;
}

.imageContainer:hover {
  cursor: move;
}

.resizer {
  margin-top: -10px;
  margin-right: -10px;
  height: 20px;
  width: 20px;
  float: right;
}

.resizer:hover {
  cursor: nwse-resize;
}

#SamplePrompt {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

#SamplePrompt iframe {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#SampleUpload {
  padding-top: 5%;
}

#SampleUpload h1 {
  margin: auto;
  text-align: center;
}

#SampleButtons {
  margin: auto;
  text-align: center;
}

#SampleButtons input {
  margin: 1rem;
}

#Mp3Link {
  display: inline-block;
  color: yellow;
  width: 100%;
  text-align: center;
}

.sampleContainer {
  position: absolute;
  display: inline-block;
  z-index: 1;
  height: 10%;
  width: 7.5%;
  background-image: url(/resources/play.svg);
  background-size: contain;
}

.sampleContainer:hover {
  cursor: pointer;
}
