@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@700&display=swap');

html, body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: darkgreen;
  font-family: 'Commissioner', sans-serif;
  font-weight: bold;
  color: gold;
  margin: 0px;
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

input[type="button"] {
  border: none;
  rotate: 10deg;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Commissioner', sans-serif;
  font-size: 30px;
  background-color: transparent;
  color: gold;
  text-shadow: inherit;
}

input[type="button"]:hover {
  cursor: pointer;
}

#Help {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  font-size: 30px;
  background-color: rgb(255, 37, 37);
  border-radius: 100%;
  text-align: center;
}

#Help:hover {
  background-color: darkred;
  cursor: pointer;
}

#Lang {
  position: absolute;
  bottom: 20px;
  right: 60px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: rgb(255, 37, 37);
  border-radius: 100%;
  text-align: center;
  line-height: 35px;
}

#Lang:hover {
  background-color: darkred;
  cursor: pointer;
}

#Back {
  position: absolute;
  bottom: 20px;
  right: 100px;
  height: 40px;
  width: 40px;
  font-size: 30px;
  background-color: rgb(255, 37, 37);
  border-radius: 100%;
  text-align: center;
  line-height: 35px;
}

#Back:hover {
  background-color: darkred;
  cursor: pointer;
}

.button {
  display: inline-block;
  rotate: -30deg;
  text-shadow:  1px  1px 0 white,
               -1px  1px 0 white,
                1px -1px 0 white,
               -1px -1px 0 white,
                2px  2px 0 black,
               -2px  2px 0 black,
                2px -2px 0 black,
               -2px -2px 0 black;
}

.button:hover {
  background-color: rgb(255, 37, 37);
  border-radius: 50%;
  cursor: pointer;
  text-shadow:  1px  1px 0 white,
               -1px  1px 0 white,
                1px -1px 0 white,
               -1px -1px 0 white,
                2px  2px 0 black,
               -2px  2px 0 black,
                2px -2px 0 black,
               -2px -2px 0 black,
                1px  3px 0 black,
               -3px  3px 0 black,
                1px -1px 0 black,
               -3px -1px 0 black,
                0px  4px 0 black,
               -4px  4px 0 black,
                0px  0px 0 black,
               -4px  0px 0 black,
               -1px  5px 0 black,
               -5px  5px 0 black,
               -1px  1px 0 black,
               -5px  1px 0 black,
               -2px  6px 0 black,
               -6px  6px 0 black,
               -2px  2px 0 black,
               -6px  2px 0 black,
                3px  3px 0 white,
               -3px  3px 0 white,
                3px -3px 0 white,
               -3px -3px 0 white,
                2px  4px 0 white,
               -4px  4px 0 white,
                2px -2px 0 white,
               -4px -2px 0 white,
                1px  5px 0 white,
               -5px  5px 0 white,
                1px -1px 0 white,
               -5px -1px 0 white,
               -2px  6px 0 white,
               -6px  6px 0 white,
               -2px  0px 0 white,
               -6px  0px 0 white,
               -3px  7px 0 white,
               -7px  7px 0 white,
               -3px  1px 0 white,
               -7px  1px 0 white;
}

#MainMenu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}

#Title {
  display: block;
  position: relative;
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
}

#AnimationMask {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

#GameID {
  position: absolute;
  width: fit-content;
  right: 20px;
  font-size: 50px;
}

#Table {
  position: absolute;
  background-color: sienna;
  z-index: 5;
  border-radius: 50%;
  background-image: url(/resources/wood.jpg);
  background-size: contain;
  box-shadow: 0 10px 10px black;
}

#MainMenu form {
  margin-top: 100px;
}

input[type="text"] {
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 37, 37);
  color: gold;
  font-size: 30px;
  font-weight: bolder;
  margin: 20px;
  padding: 10px;
  max-width: 150px;
  text-align: center;
  text-transform: uppercase;
}

input[type="text"]:hover {
  background-color: darkred;
}

input[type="submit"] {
  background-color: gold;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  color: black;
  text-shadow:  1px  1px 0 white,
               -1px  1px 0 white,
                1px -1px 0 white,
               -1px -1px 0 white;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(255, 37, 37);
}

#Table svg {
  width: 100%;
  height: 100%;
}

#Distribute {
  position: absolute;
}

.card {
  position: absolute;
  background-color: black;
  border-color: white;
  border-style: solid;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
}

#Cards {
  pointer-events: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}

#Fan {
  position: absolute;
  bottom: 0px;
  left: 20%;
  right: 20%;
  height: 30%;
}

.mine {
  pointer-events: all;
}

#Deck:hover, .mine:hover {
  cursor: pointer;
  border-color: grey;
}

#ShowHideButton {
  position: absolute;
  right: 10px;
  bottom: 100px;
}

#UnoButton {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#SignalButton {
  position: absolute;
  left: 10px;
  bottom: 100px;
}

#Pick {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: center;
  font-size: 25px;
}